<div class="container-fluid">
    <div class="ml-2 mr-2 pt-3 pb-3 text-center">
        <div>
            <img src="~/images/LawnPro.png" class="mediumImage" alt="LawnPro Logo" />
        </div>

        <p class="font-weight-bold">Mailing Address: </p>
        <p>
            1825 N Bluemound Dr<br />
            Appleton, WI 54912
        </p>


        <p class="font-weight-bold">Hours:</p>
        <p>
            Monday - Friday <time datetime="8:00">8:00am</time> - <time datetime="17:00">5:00pm</time><br>
            <small>(Seasonal - Late March through Late October)</small>
        </p>

        <p class="font-weight-bold">Phone Number: </p>
        <p>(920) 555-5555</p>

        <p class="font-weight-bold">Email:</p>
        <p><a href="mailto:LawnPro@gmail.com">LawnPro@gmail.com</a></p>
    </div>
</div>
