<div class="container-fluid">
    <div class="ml-2 mr-2 pt-3 pb-3">
        <div class="row pb-3 d-table">
            <div class="col-4">
                <img src="~/images/lawnmowing.jpg" class="mediumImage" />
            </div>
            <div class="col-8 d-table-cell align-middle">
                <p>
                    You can expect a healthy lawn when you work with our professional lawn service crew to create and maintain your property's exterior areas.
                    Whether it is commercial or residential property, you'll find a plan you can afford and that you'll love. Combine any of our services to create a 
                    customized solution that works best for your lawn needs and budget.
                </p>
            </div>
        </div>

        <div class="row pb-3 d-table">
            <div class="col-4">
                <img src="~/images/lawndethatching.jpg"  class="mediumImage"/>
            </div>
            <div class="col-8 d-table-cell align-middle">
                <p>
                    The thatch layer is a layer of organic matter that exists between the grass leaves and the soil. The amount of water and nutrients that reaches the soil will
                    reduce if the thatch is too thick (approximately 1 inch or more) thus hurting the quality of the turf. Dethatching can be done in either spring or fall depending
                    on your lawn's specific needs. Contact our technicians if you have any questions about dethatching.
                </p>
            </div>
        </div>

        <div class="row pb-3 d-table">
            <div class="col-4">
                <img src="~/images/lawnaerating.jpg"  class="mediumImage"/>
            </div>
            <div class="col-8 d-table-cell align-middle">
                <p>
                    For the overall health and quality of your lawn, lawn core aeration is your best bet. Our aeration process is done by removing small 
                    plugs of turf and soil from the lawn. When you choose to aerate your lawn, more nutrients, water, and air penetrate through the soil to create a stronger 
                    root system for the turf. In addition to the replenishment of nutrients, this process will help reduce the thatch layer in the turf.
                </p>
            </div>
        </div>

    </div>
</div>