
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="ml-2 mr-2 pt-3 pb-3">

        <h5>You are logged out ....</h5>

    </div>
</div>
